<!DOCTYPE html>
<html>
<head>
<title>YouTube Sentiment Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body style="text-align:center;font-family:Arial">

<h1>YouTube Comment Sentiment Dashboard</h1>

<textarea id="comments" style="width:400px;height:200px"></textarea>

<br><br>

<button onclick="analyze()">Analyze</button>

<br><br>

<canvas id="chart" width="400"></canvas>

<script>

async function analyze(){

const text=document.getElementById("comments").value
const comments=text.split("\n")

const response=await fetch("/analyze",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
comments:comments
})
})

const data=await response.json()

const ctx=document.getElementById("chart")

new Chart(ctx,{
type:"pie",
data:{
labels:["Positive","Neutral","Negative"],
datasets:[{
data:[
data.positive,
data.neutral,
data.negative
],
backgroundColor:["green","gray","red"]
}]
}
})

}

</script>

</body>
</html>